@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(images/minecraft.png);
	background-size: 100%;
}

#potato {
	background-color: rgb(218,165,32);
    font-size:24px;
	border-style: groove;
	border-radius:30px;
    border-width: 8px;
    border-color: Gold;
    padding-left: 4px;
    padding-right: 4px;
	height: 350px;
	float: left;
	
}


  
