@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(images/potatoes.jpg);
	background-size: 2000px;
}

#potato img {
	width: 100%;
}

#potato {
	background-color: rgb(218, 165, 32);
    font-size:24px;
	border-style: groove;
	border-radius:30px;
    border-width: 8px;
    border-color: Silver;
    padding-left: 4px;
    padding-right: 4px;
	height: 357px;
	float: left;
	width: 444;
}

#market {
	background-color: rgb(218, 165,32);
    font-size:24px;
	border-style: groove;
	border-radius:30px;
    border-width: 8px;
    border-color: Silver;
    padding-left: 4px;
    padding-right: 4px;
	height: 357px;
	float: right;
	}

#potattle {
  	background-color: rgb(218, 165,32);
    font-size:100px;
	border-style: groove;
	border-radius:30px;
    border-width: 8px;
    border-color: Gold;
    padding-left: 8px;
    padding-right: 4px;
	height: 357px;
	text-align: center;
	width:944px;
	float: left;
	line-height: 0px;
}

#stats {
	background-color: rgb(218, 165,32);
    font-size:24px;
	border-style: groove;
	border-radius:30px;
    border-width: 8px;
    border-color: Silver;
    padding-left: 4px;
    padding-right: 4px;
	width: 200px;
	float: left;
	height: 850px;
}

@media screen and (max-width:  980px)  {
		#potato  {
			width: auto;
		}
		#potattle {
			width: auto;
			font-size: 60px;
		}
		#market  {
			width: auto;
		}
		#stats {
			width: auto;
		}
		
}

@media screen and (max-width: 700px)  {
		#potato, #stats, #market {
			width: auto;
			float: none;
	}
	#potattle {
			height: auto;
			font-size: 36px;
}
}
@media screen and (max-width: 480px)  {
	#potattle {
			height: auto;
	}
	h1 {
			font-size: 24px;
	}
	#stats {
		float: none;
	}
}

/* Phones */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)  {
		body  {
				font-size: 40px;
		}
		#potattle  {
				height: auto;
		}
		#market  {
				width: auto;
		}
		#stats {
				width: auto;
				clear: both;
		}
		#potattle, #stats, #market {
				border-radius: 16px;
				border-width: 8px;
		}
}
